@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;

  --fontFamily:
    'Pretendard', '-apple-system', 'BlinkMacSystemFont', 'system-ui',
    'Malgun Gothic', 'sans-serif';
}

body {
  font-family: var(--fontFamily);
}
